/* Move down content because we have a fixed navbar that is 50px tall */
body {
  margin-top: 12%; 
}
p {
	text-align:center;
}

.navbar-inverse {
	background: url(../img/header_bg.jpg) no-repeat top center;
/*background-color: #121131;
*/background-size: 100%;
border-color: transparent;
height: 12%;
}

.navbar-inverse .navbar-brand{
	font-size: 10px;
}

.navbar button{
	float: right;
}

.jumbotron {
		background: url(../img/herobg.png) no-repeat top center;
		padding: 35% 0 18% 0;
		background-size: 100%;
}

.jumbotron p{
			color: #ffffff;
		font-size: 14px;
		font-weight: 200;
}

.jumbotron .container{
			background: #2c264a;
			padding: 10px;
}


#mainContent .btn{
	background: #4c4495;
	border-radius: 0;
	text-transform: uppercase;
	padding: 15px 70px;
	margin-bottom: 40px;
}

#mainContent #CTA{
	float: none;
	margin: 0px auto 35px auto;
}
.booking {
padding: 15px 20px;
/*width: 75%;
float: right;*/
background: white;
/*border: 15px solid rgba(0, 0, 0, 0.3);
*/-moz-background-clip: border;
-webkit-background-clip: border;
background-clip: border-box;
-moz-background-clip: padding;
-webkit-background-clip: padding;
background-clip: padding-box;
}

.booking h4{
	text-align: center;
}

.img-responsive {
display: block;
max-width: 50%;
/* height: auto; */
margin: 0 auto;
}

form.input{
padding: 15px 20px 100px 20px;
/*float: right;
*/background: white;
-moz-background-clip: border;
-webkit-background-clip: border;
background-clip: border-box;
-moz-background-clip: padding;
-webkit-background-clip: padding;
background-clip: padding-box;
padding: 6px 4px;
outline: none;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
font: 13px 'Pt Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #777;
margin: 0;
/*width: 210px;
*/display: block;
margin-bottom: 20px;
background: #fff;
}

input[type="text"], input[type="password"], input[type="email"], input[type="tel"], textarea, select {
border: 1px solid #ccc;
padding: 6px 4px;
outline: none;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
font: 13px 'Pt Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #777;
margin: 0;
width: 100%;
max-width: 100%;
display: block;
margin-bottom: 20px;
background: #fff;
}

button[type="submit"]{
	background: #242323;
	color: #ffffff;
	border:none;
	border-radius:20px;
	padding: 7px 15px;
	text-transform: uppercase;
}

form span {
	text-align: center;
}

.symbol-container
{
	margin: 0 auto;
	float: none;
}

footer{
background-color: #4d4393;
padding: 10px;

}

.copyright {
	color:white;
}

@media (min-width: 768px){
body{
	margin-top: 9%;
}

.jumbotron {
		padding: 38% 0 20% 0;
		background-size: 100%;
}

.jumbotron p{
			color: #ffffff;
		font-size: 18px;
		font-weight: 200;
}

.jumbotron .container{
			background: transparent;
}
}


@media (min-width: 992px){
body{
	margin-top: 9%;
}

.jumbotron {
		padding: 36% 0 18% 0;
		background-size: 100%;
}

.jumbotron p{
			color: #ffffff;
		font-size: 20px;
		font-weight: 200;
}
}

@media (min-width: 1200px){

.navbar-inverse {
height: 200px;
background-size:contain;
background-repeat: repeat-x;
}
.jumbotron {
		padding: 38% 0 14% 0;
		background-size: 100%;
}

.jumbotron p{
			color: #ffffff;
		font-size: 26px;
		font-weight: 200;
}

}